@{
    ViewBag.Title = "سابقة عنا";
}
<h2>@ViewBag.Title  </h2>


<p>
    هذه التطبيق مساهمة منا في توفير فرص العمل الي الشباب<br />
    وفي التسهيل علي اصحاب العمل في التوصل الي احتيجاتهم من اصحاب الخبرات في مجالهم
</p>